{% extends "base.html.twig" %}


{% block body %}

<br>
<br>
<h2 style="text-align: center;"><strong><u>LISTES DES DECHARGES DE RECEPTION DE FONDS </u></strong></h2><br>

{% block filtre %}
    
{% endblock %}
    
    <table class="table table-hover">
        <thead>
            <tr class="table-primary">
                <th scope="col">Signataire</th>
                <th scope="col">adresse</th>
                <th scope="col">Créantier</th>
                <th scope="col">Montant</th>
                <th scope="col">Motif</th>
                <th scope="col">Lieu</th>
                <th scope="col">afficher une fiche </th>
            </tr>
        </thead>
            {% for fiche in fiches %}    
            <tr {% if loop.index is divisible by(2) %}  class="table-active" {% else %}  class="table-secondary" {% endif %} >
                <td>{{ fiche.signataire}} </td>
                <td>{{ fiche.adresse}} </td>
                <td>{{ fiche.creantier}} </td>
                <td>{{ fiche.montant}} </td>
                <td>{{ fiche.motif}} </td>
                <td>{{ fiche.lieu}} </td>
                <td><a  class="btn btn-primary btn-sm" href="{{path('fiche_affiche', {'id': fiche.id})}} ">afficher</a></td>
            </tr>
            {% endfor %}
        </tbody>    
    </table>
    {% block pagination %}  
        <div class="pagination">
            {{ knp_pagination_render(fiches) }}
        </div>
    {% endblock %}
{% endblock %}