{% extends "base.html.twig" %}


{% block title %}Fiche{% endblock %}

{% block stylesheets %}
    {{parent() }}
    <style>
        #header { min-width: 700px; margin-bottom: 50px; margin-top: 20px;}
        #logoImg { width:70px;}
        #logoTitle {min-width: 272px; font-size: 12px; text-align: right; padding: 0;padding-top: 30px; padding-right: 25px;}
        #headerDomaine { width: 300px; float: right; text-align: center; padding-top: 20px; font-size: 16px;}
    </style> 
{% endblock %}

{% block navbarLi %}
    {{parent()}}
    <li class="nav-item">
        <a class="nav-link" href="{{path('edit_action', {'id': formData.id})}} ">MODIFIER</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{path('delete_action', {'id': formData.id})}} ">SUPPRIMER</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{path('pdf_action', {'id': formData.id})}} ">IMPRIMER</a>
    </li>
{% endblock %}


{% block body %}

{% block supprimer %}
    
{% endblock %}

<div class="container">
    <div class="row justify-content-between" id="header">
            <div class="col-7">
                <div class="row justify-content-start">
                    <div class="col-2" id="logoImg">
                        <div class="container">
                            <img src="https://png.pngtree.com/png-clipart/20190604/original/pngtree-creative-company-logo-png-image_1420804.jpg"
                                alt="" width="70px" height="70px">
                        </div>
                    </div>
                    <div class="col-5" id="logoTitle">
                        <div class="container">
                            <h2 style="margin-bottom: 0;"><u> HERPA Solutions </u></h2>
                            <small style="margin-top: 0;">Ensemble, construsons l'avenir</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4" >
                <div class="container" id="headerDomaine">
                    <h4 style="margin-bottom: 0;">INGENIEUR INFORMATIQUE</h4>
                    <small style="margin-bottom: 0">Développement d'application - télécom</small>
                    <small style="margin-bottom: 0">Administateur système - Cartographie</small>
                    <small>numérique</small>
                </div>
            </div>
        </div>
    </div>
        
        <div class="container" style="width:700px;font-size: 20px;">
            <h2 style="text-align: center;"><strong><u>DECHARGE DE RECEPTION DE FONDS</u></strong></h2><br>
            <p>je sousigné <strong>{{formData.signataire|upper}}</strong></p>
            <p>demeurant à <strong>{{formData.adresse|upper}}</strong> </p>
            <p>reconnais avoir reçu de <strong>{{ formData.creantier|upper}}</strong> </p>
            <p>la somme de : <strong>{{formData.montant}} FCFA</strong> </p>
            <p>Motif: <br> {{ formData.motif}} </p><br>
            <p>Fait à <strong>{{formData.lieu}}</strong> </p>
            <p>Le <strong> {{ formData.date|date('d/m/Y') }}</strong> </p><br><br><br><br>
        </div>
        
        <div class="footer" style="text-align: center;">
            <p>RCCM : TG-LOM 2016 A 2953 / NIF : 1000761613</p>
            <p>365 Rue, Rue Aniko palake, 15BP439 Lomé-Togo / Contacts : (00228) 90358957/97929859/92615542 </p>
            <P>Email : info@landogroupcie.com / site web : www.landogroupcie.com</P>
        </div>
    </div>


{% endblock %}
