{% extends "base.html.twig" %}

{% block body %}
    <br>
    <h2 style="text-align: center;"><strong><u>DECHARGE DE RECEPTION DE FONDS 1</u></strong></h2><br>
    {{ form_start(form, {'attr':{'novalidate':'novalidate'} } ) }}
    {{ form_row(form.signataire, {'label':"Je sousigné", 'attr':{'placeholder':"votre nom"}} ) }}
    {{ form_row(form.adresse, {'label':"demeurant à", 'attr':{'placeholder':"votre adresse"}} ) }}
    {{ form_row(form.creantier, {'label':"reconnais avoir reçu de ", 'attr':{'placeholder':"nom du creantier"}} ) }}
    {{ form_row(form.montant, {'label':"la somme de", 'attr':{'placeholder':"le montant", 'value':10000,}} ) }}
    {{ form_row(form.motif, {'label':"Motif", 'attr':{'placeholder':"..."}} ) }}
    {{ form_row(form.lieu, {'label':"fait à", 'attr':{'placeholder':"..."}} ) }}
    <input type="submit" class="btn btn-primary" value=" Enregister " />
    {{ form_end(form) }}
{% endblock %}